html,
body {
  margin: 0;
  font-family: "Nothing You Could Do", cursive;
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Work Sans", sans-serif;
}

nav {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 3em;
}
ul {
  display: flex;
  list-style-type: none;
  font-size: 1.5em;
}

li {
  padding: 1em;
}
